<form [formGroup]="wikiPageInputForm">
  <div class="form-group">
    <input
      class="form-control"
      formControlName="title"
      id="wiki-page-title"
      type="text"/>
    <button (click)="updateTitle($event)"> ></button>

    <textarea
      (keyup)="updateBody($event)"
      class="form-control"
      formControlName="body"
      id="wiki-page-body">
    </textarea>
  </div>
</form>
<div>
  <table>
    <tr>
      <td>Value</td>
      <td>{{wikiPageViewModel.referenceTag}}</td>
      <td>{{wikiPageViewModel.title}}</td>
      <td>{{wikiPageViewModel.body}}</td>
    </tr>

  </table>
</div>
